@using Microsoft.AspNetCore.Http.Extensions
@model QualificationSite.Models.Profile

@{
    Layout = "_Layout";
    ViewData["Title"] = "Редактирование профиля";
}
<a class="btn btn-primary" href="/Profile/@Model.Id">Вернуться</a>
<div class="m-5"><br></div>

<form method="post" action="~/Profile/AddPhoto" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit" value="Загрузить"/>
</form>
<form method="post" action="@Context.Request.GetDisplayUrl()">
    <div class="form-group">
        <div class="p-2">
            <label for="Name">Имя</label>
            <input class="form-control" type="text" name="Name" placeholder="Введите имя" value="@Model.Name" />
        </div>
        <div class="p-2">
            <label for="Surname">Фамилия</label>
            <input class="form-control" type="text" name="Surname" placeholder="Введите фамилию" value="@Model.Surname" />
        </div>
        <div class="p-2">
            <label for="Age">Возраст</label>
            <input class="form-control" type="number" name="Age" placeholder="Введите возраст" value="@Model.Age" />
        </div>
        <div class="p-2">
            <label for="Languages">Языки</label>
            <input class="form-control" type="text" name="Languages" placeholder="Введите языки, которыми вы владеете" value="@Model.Languages"/>
        </div>
        <div class="p-2">
            <label for="University">Университет</label>
            <input class="form-control" type="text" name="University" placeholder="Введите унивеситет" value="@Model.University" />
        </div>
        <div class="p-2">
            <label for="City">Город</label>
            <input class="form-control" type="text" name="City" placeholder="Введите город" value="@Model.City" />
        </div>
        <input type="hidden" name="profileId" value=@Model.Id /> 
    </div>
    <button type="submit">Редактировать</button>
</form>