@model QualificationSite.ViewModel.ProfileViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Профиль";
}
<div class="row justify-content-end">
    <div class="col col-3 align-content-end">
        <h3>@Model.Name @Model.Surname</h3>
    </div>
</div>
<div class="row justify-content-end">
    <div class="col col-2 align-content-end">
        <h6 class="float-start p-1"><span class="btn-info">Возраст:</span> @Model.Age лет</h6>
        <h6 class="float-start p-1"><span class="btn-info">Языки:</span> @Model.Languages</h6>
        <h6 class="float-start p-1"><span class="btn-info">Образование:</span> @Model.University</h6>
        <h6 class="float-start p-1"><span class="btn-info">Город:</span> @Model.City</h6>
    </div>
    <div class="col col-auto align-content-start m-3">
        @{
            var photoPath = "profile_photo_" + Model.Id + ".jpg";
            var filePath = ViewBag.Path + "\\Resources\\ProfilePhotos\\" + photoPath;
            if (File.Exists(filePath))
            {
                <img class="float-end" alt="Фото профиля" src="/Resources/ProfilePhotos/@photoPath" width="150" height="200"/>   
            }
            else
            {
                <p>Загрузите фото.</p>
            }
        }
    </div>
</div>
<div class="row justify-content-end">
    <div class="col col-auto align-content-end m-3">
        @if (ViewBag.EditAccess != null && ViewBag.EditAccess == true)
        {
            <a href="/Profile/Edit/@Model.Id" class="btn btn-warning">Редактировать</a>
        }
    </div>
</div>
<div name="pinboard">
    <div name="pins" class="row">
        @foreach (var item in Model.Pins)
        {
            <div class="col-3 offset-2 border border-dark m-1">
                <h4>@item.Header</h4>
                <h6>@item.Text</h6>
                <p>@item.LinkToAttachment</p>
            </div>
        }
    </div>
    @if (ViewBag.EditAccess != null && ViewBag.EditAccess == true)
    {
        <div class="float-end">
            <a href="/Profile/EditPinboard/@Model.Id" class="btn btn-warning">Редактировать<br>стену</a>
        </div>
    }
</div>